<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Anil z" name="author">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

<!-- SITE TITLE -->
<title>Shopwise - eCommerce Bootstrap 5 HTML Template</title>
<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
<!-- Animation CSS -->
<link rel="stylesheet" href="assets/css/animate.css">	
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="assets/css/all.min.css">
<link rel="stylesheet" href="assets/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/simple-line-icons.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.default.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<!-- jquery-ui CSS -->
<link rel="stylesheet" href="assets/css/jquery-ui.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/slick-theme.css">
<!-- Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<style>
    .address-box {
        display: flex;
        flex-wrap: wrap;
    }
    .single-address {
        border: 1px solid #ccc;
        padding: 15px;
        margin: 10px;
        width: calc(100% - 20px); /* Adjust this width based on your design */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 5px;
    }
    .single-address p {
        margin: 5px 0;
    }
    .btn-edit {
        margin-top: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
    .btn-edit:hover {
        background-color: #0056b3;
    }

    .coupon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center align coupons */
    margin-top: 20px;
}

.coupon {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    text-align: center; /* Center align coupon content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.coupon-code {
    font-size: 20px; /* Larger font size for coupon code */
    font-weight: bold;
    margin-bottom: 10px;
}

.discount {
    margin-top: 5px;
    color: green;
}



</style>

<!-- sweetAlert -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G6MPNF0KNC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G6MPNF0KNC');
</script>


<!-- Hotjar Tracking Code for bestwebcreator.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2073024,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Start of StatCounter Code -->
<script>
	<!--
	var sc_project=11921154;
	var sc_security="6c07f98b";
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
			//-->
			
document.write("<sc"+"ript src='" +scJsHost +"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code -->

</head>

<body>

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

<%- include('../layout/header') %>

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Checkout</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->

<% if (totalAmount > 3000) { %>
    <div id="coupon-list" class="coupon-list">
        <% couponAvailable.forEach(coupon => { %>
            <div class="coupon">
                <p class="coupon-code"><%= coupon.couponCode %></p>
                <p class="discount">Discount: <%= coupon.discountPercentage %>%</p>
            </div>
        <% }) %>
    </div>
<% } %>






<div class="main_content">
    <!-- START SECTION SHOP -->


     







    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div>
                        <% if (couponcode) { %>
                            <!-- Applied coupon details -->
                            <div id="applied-coupon" style="display: flex; align-items: center; flex-direction: row;">
                                <p style="color: green; margin-bottom: 10px;">Applied coupon: <%= couponcode %>  ₹<%= couponDiscount %> </p>
                                <button class="btn btn-danger btn-sm" type="button" onclick="removeCoupon()">Remove Coupon</button>
                            </div>
                        <% } else { %>
                            <!-- Coupon input form -->
                            <div class="input-group" id="coupon-input">
                                <input type="text" class="form-control" placeholder="Enter Coupon Code.." id="couponenter">
                                <div class="input-group-append">
                                    <button id="appllycpn" class="btn btn-fill-out btn-sm" type="button" onclick="couponApply()">Apply Coupon</button>
                                </div>
                            </div>
                        <% } %>
                    
                        <!-- Hidden second coupon input (if needed) -->
                        <div class="input-group" id="coupon-input2" style="display: none;">
                            <input type="text" class="form-control" placeholder="Enter Coupon Code.." id="couponenter2">
                            <div class="input-group-append">
                                <button id="appllycpn2" class="btn btn-fill-out btn-sm" type="button" onclick="couponApply()">Apply Coupon</button>
                            </div>
                        </div>
                    
                        <!-- Applied coupon details hidden by default -->
                        <div id="applied-coupon" style="display: none;">
                            <p style="color: green;">Discount <span id="applied-coupon-code"></span>%</p>
                            <button style="margin-right: 40px;" class="btn btn-danger btn-sm" type="button" onclick="removeCoupon()">Remove Coupon</button>
                        </div>
                    
                        <p id="invalidcoupon" style="color: red; text-align: center;"></p>
                    </div>


            </div>
        </div>
    </div>
</div>
            

        
        <div class="row">
            <div class="col-md-6">
                <div class="heading_s1">
                    <h4>Billing Details</h4>
                </div>
        
                <% if (userAddresses && userAddresses.addresses.length > 0) { %>
                    <div class="address-box">
                        <% userAddresses.addresses.slice(0, 3).forEach((address, index) => { %>
                            <div class="single-address">
                                <input type="radio" name="selectedAddress" id="address<%= index %>" value="<%= address._id %>">
                                <label for="address<%= index %>">
                                    <strong><%= address.firstName %> <%= address.lastName %></strong>
                                    <span class="label-home">HOME</span>
                                    <span class="phone"><%= address.phone %></span>
                                    <p><%= address.address %>, <%= address.address2 %>, <%= address.city %>, <%= address.state %>, <%= address.postalCode %></p>
                                </label>
                                <button class="btn btn-edit" onclick="editAddress('<%= address._id %>')">Edit</button>
                            </div>
                        <% }); %>
        
                        <% if (userAddresses.addresses.length > 3) { %>
                            <button class="btn btn-link" onclick="showMoreAddresses()">Show More Addresses</button>
                        <% } %>
        
                        <button class="btn btn-fill-out btn-block" onclick="showAddressForm()">Add New Address</button>
                    </div>



                           
            <form  id="addressForm2"  style="display: none;" >
                <input type="hidden" id="userId" value="<%= userId %>">
                <div class="form-group mb-3">
                    <input type="text" required class="form-control" id="fname" name="fname" placeholder="First name *">
                </div>
                <div class="form-group mb-3">
                    <input type="text" required class="form-control" id="lname" name="lname" placeholder="Last name *">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="billing_address" name="billing_address" required placeholder="Address *">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="billing_address2" name="billing_address2" placeholder="Address line 2">
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" required type="text" id="city" name="city" placeholder="City *">
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" required type="text" id="state" name="state" placeholder="State *">
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" required type="text" id="zipcode" name="zipcode" placeholder="Postcode *">
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" required type="text" id="phone" name="phone" placeholder="Phone *">
                </div>


                <div class="form-group mb-3">
                    <div class="row">  
                        <div class="col-md-6">
                            <button class="btn btn-fill-out btn-block" type="button" onclick="addAddress()">Add Address</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-fill-out btn-block"  type="button" onclick="cancelAddressForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        



        
                    <div id="moreAddresses" class="more-addresses" style="display: none;">
                        <% userAddresses.addresses.slice(3).forEach((address, index) => { %>
                            <div class="single-address">
                                <input type="radio" name="selectedAddress" id="moreAddress<%= index %>" value="<%= address._id %>" >
                                <label for="moreAddress<%= index %>">
                                    <strong><%= address.firstName %> <%= address.lastName %></strong>
                                    <span class="label-home">HOME</span>
                                    <span class="phone"><%= address.phone %></span>
                                    <p><%= address.address %>, <%= address.address2 %>, <%= address.city %>, <%= address.state %>, <%= address.postalCode %></p>
                                </label>
                                <button class="btn btn-edit" onclick="editAddress('<%= address._id %>')">Edit</button>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <form method="post" id="addressForm" action="/address">
                        <div class="form-group mb-3">
                            <input type="text" required class="form-control" id="fname" name="fname" placeholder="First name *">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" required class="form-control" id="lname" name="lname" placeholder="Last name *">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="billing_address" name="billing_address" required placeholder="Address *">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="billing_address2" name="billing_address2" placeholder="Address line 2">
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control" required type="text" id="city" name="city" placeholder="City *">
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control" required type="text" id="state" name="state" placeholder="State *">
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control" required type="text" id="zipcode" name="zipcode" placeholder="Postcode *">
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control" required type="text" id="phone" name="phone" placeholder="Phone *">
                        </div>
                        <button class="btn btn-fill-out btn-block">Add Address</button>
                    </form>
                <% } %>
            </div>


            <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>


                                <% cartDetails.forEach(product => { %>
                                    <tr>
                                        <td><%= product.productName %> <span class="product-qty">x <%= product.quantity %></span></td>
                                        <td>₹<%= product.productPrice %></td>
                                        <td>₹<%= product.subtotal %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SubTotal</th>
                                    <td></td>
                                    <td class="product-subtotal" >₹<%= totalAmount %></td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td></td>
                                    <td><%= shippingCharge ? `₹${shippingCharge}` : 'Free Shipping' %></td>
                                </tr>
                                <tr>
                                    <th>Discount</th>
                                    <td></td>
                                    <td style="color: green;" >₹<%= totalDiscount %></td>
                                </tr>

    
                                <% if (couponDiscount ) { %>
                                    <tr id="availblecpn">
                                        <th id="couponrmv">coupon discount</th>
                                        <td></td>
                                        <td  style="color: green;" id="couponrv"> <%= couponDiscount %></td>
                                    </tr>


                                 
                                <% } %>
                                <tr>

                                    <tr>
                                        <th  id="couponname" style="display: none;">coupon discount</th>
                                        <td></td>
                                        <td  id="coupondiscount"  style="color: green;"></td>
                                    
                                    </tr>
                                    <th>Total</th>
                                    <td></td>
                                    <td class="product-subtotal" id="finaltotal"> ₹<%= cartSubtotal %></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Payment</h4>
                        </div>
                        <div class="payment_option">
                            <div class="custome-radio">
                                <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios4" value="cod">
                                <label class="form-check-label" for="exampleRadios4">Cash On Delivery</label>
                            </div>
                            <div class="custome-radio">
                                <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios5" value="onlinePayment">
                                <label class="form-check-label" for="exampleRadios5">onlinePayment</label>
                                <p data-method="onlinePayment" class="payment-text"  onclick="onlinePayment()" >Pay via onlinePayment; you can pay with your credit card/Debit card / Upi etc...</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-fill-out btn-block" onclick="placeOrder()">Place Order</button>
                </div>
            </div>
        </div>
        

<!-- END SECTION SHOP -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
<div class="section bg_default small_pt small_pb">
	<div class="container">	
    	<div class="row align-items-center">	
            <div class="col-md-6">
                <div class="heading_s1 mb-md-0 heading_light">
                    <h3>Subscribe Our Newsletter</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter_form">
                    <form>
                        <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                        <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->
<%- include('../layout/footer') %>

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 


<script>

    
     
     document.getElementById(addressForm).addEventListener("submit",async function(event){
        event.preventDefault()

        const formData = {
            fname: document.getElementById('fname').value,
            lname: document.getElementById('lname').value,
            billing_address: document.getElementById('billing_address').value,
            billing_address2: document.getElementById('billing_address2').value,
            city: document.getElementById('city').value,
            state: document.getElementById('state').value,
            zipcode: document.getElementById('zipcode').value,
            phone: document.getElementById('phone').value
        };


       const response= await fetch("/adress",{method:"POST",
        headers:"application/json",
        body:JSON.stringify({formData})
       })

       const result=await response.json()
       console.log(result);
       if(result.success){
        alert("address added")
       }

     })



     function showAddressForm() {
        var addressForm = document.getElementById('addressForm2');
        var moreAddresses = document.getElementById('moreAddresses');
        addressForm.style.display = 'block';
        moreAddresses.style.display = 'none';
    }

    function cancelAddressForm() {
        document.getElementById("addressForm2").style.display = "none";
    }


    function addAddress() {
    const fname = document.getElementById('fname').value;
    const lname = document.getElementById('lname').value;
    const billing_address = document.getElementById('billing_address').value;
    const billing_address2 = document.getElementById('billing_address2').value;
    const city = document.getElementById('city').value;
    const state = document.getElementById('state').value;
    const zipcode = document.getElementById('zipcode').value;
    const phone = document.getElementById('phone').value;
    const userId = document.getElementById('userId').value;

    fetch('/address', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ fname, lname, billing_address, billing_address2, city, state, zipcode, phone, userId })
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.success) {
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Your address has been saved",
                showConfirmButton: false,
                timer: 1500
            });

            const newAddress = data.address;
            const newAddressDiv = document.createElement('div');
            newAddressDiv.classList.add('single-address');
            newAddressDiv.id = `address-${newAddress._id}`;

            newAddressDiv.innerHTML = `
                <input type="radio" name="selectedAddress" id="address${newAddress._id}" value="${newAddress._id}" onchange="selectAddress(this)">
                <label for="address${newAddress._id}">
                    <strong>${newAddress.firstName} ${newAddress.lastName}</strong>
                    <span class="label-home">HOME</span>
                    <span class="phone">${newAddress.phone}</span>
                    <p>${newAddress.address}, ${newAddress.address2}, ${newAddress.city}, ${newAddress.state}, ${newAddress.postalCode}</p>
                </label>
                <button class="btn btn-edit" onclick="editAddress('${newAddress._id}')">Edit</button>
            `;

            const moreAddresses = document.getElementById('moreAddresses');
            if (moreAddresses) {
                moreAddresses.appendChild(newAddressDiv);
            } else {
                const addressBox = document.getElementById('addressBox');
                addressBox.appendChild(newAddressDiv);
            }

            cancelAddressForm();
        } else {
            alert('Error adding address');
        }
    })
    .catch(error => console.error('Error:', error));
}



    function showMoreAddresses() {
    const moreAddresses = document.getElementById('moreAddresses');
    const showMoreButton = document.getElementById('showMoreButton');

    if (moreAddresses.style.display === 'none') {
        moreAddresses.style.display = 'block';
        showMoreButton.textContent = 'Show Less Addresses';
    } else {
        moreAddresses.style.display = 'none';
        showMoreButton.textContent = 'Show More Addresses';
    }
}


async function placeOrder() {
    const selectedAddressElement = document.querySelector('input[name="selectedAddress"]:checked');
    const paymentMethodElement = document.querySelector('input[name="payment_option"]:checked');

    if (!selectedAddressElement) {
        alert('Please select an address.');
        return;
    }

    if (!paymentMethodElement) {
        alert('Please select a payment method.');
        return;
    }

    const selectedAddress = selectedAddressElement.value;
    const paymentMethod = paymentMethodElement.value;
    console.log(selectedAddress);
    const finalAmount= document.getElementById("finaltotal").value
    console.log("valueeeeeeeeeee",finalAmount);

    // const orderData = {
    //     paymentMethod,
    //     deliveryAddress: selectedAddress, // Example, replace with actual delivery address data
    //     purchaseDate: new Date().toISOString(), // Current date/time
    //     status: 'Pending' // Initial status of the order
    // };
    // console.log(orderData);

    const response = await fetch('/place-order', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            paymentMethod: paymentMethod,
            deliveryAddress:selectedAddress,
            purchaseDate: new Date().toISOString(),
             status: 'Pending',
             finalAmount:finalAmount

        })
      
    });

    const result=await response.json()
    console.log(result);
   
    // console.log('User Addresses:',  JSON.stringify(userAddresses));
    if(result.cod){
        window.location.href="/success"
    }

    if(result.url){

        window.location.href=result.url
    }
   

     
       }
 

       async function couponApply(){

        const couponValue = document.getElementById("couponenter").value.toUpperCase()
 console.log(couponValue);

    const response=    await fetch("/coupondiscount",{
            method:"POST",
            headers:{
                 'Content-Type': 'application/json'
            },
            body: JSON.stringify({couponValue})

        })
        const result = await response.json()
        console.log(result);

        if(result.couponCode){
            document.getElementById("invalidcoupon").textContent=""
            document.getElementById("coupon-list").style.display = 'none';
            document.getElementById("couponenter").style.display="none"
              document.getElementById("appllycpn").style.display="none"


             
            if(document.getElementById("availblecpn")){
                     document.getElementById("couponrmv").style.display="none"
            document.getElementById("couponrv").style.display="none"

            }
       
            // Show the applied coupon
            document.getElementById("applied-coupon").style.display = 'block';
            document.getElementById("applied-coupon-code").textContent = result.discountPercentage;

            // Update the total discount and total amount

            document.getElementById("couponname").style.display="block"
            document.getElementById("coupondiscount").style.display="block"
            document.getElementById("coupondiscount").textContent=result.discountAmount;
            document.getElementById("finaltotal").textContent=`₹${result.finalAmount}`
           
          
           

        }else{
            document.getElementById("invalidcoupon").textContent=result.message

        }
       }


async function removeCoupon() {
    // Reset the input value
    const response=await fetch("/removecoupon",{
        method:"POST",
        headers:{
             'Content-Type': 'application/json'

        },
        body: JSON.stringify({})
    })
    const result=await response.json()


    if(result.remove){
          
    // Show the coupon list
    
    document.getElementById("coupon-list").style.display = 'block';
    // Hide the applied coupon section
    document.getElementById("applied-coupon").style.display = 'none';
    document.getElementById("applied-coupon-code").textContent = '';
    document.getElementById("couponname").style.display="none"

    if(document.getElementById("couponenter")){
        document.getElementById("couponenter").style.display="block"
           document.getElementById("appllycpn").style.display="block"
           

    }

    // if(document.getElementById("coupon-input2")){
    //     document.getElementById("appllycpn2").style.display="block"
    //      document.getElementById("couponenter2").style.display="block"


    // }
document.getElementById("coupon-input2").style.display="block"
    
    document.getElementById("coupondiscount").style.display="none"

    if(document.getElementById("availblecpn")){
        document.getElementById("couponrv").style.display="none"
        document.getElementById("couponrmv").style.display="none"
    }

   
  

    // Optionally, reset the total discount and total amount
    // document.getElementById("totaldiscount").value = '0';
    console.log('Coupon removed.');

   
    console.log(result.totalAmount);
    
        console.log(result,"ttttttttttttttttttttttt");
        document.getElementById("finaltotal").textContent=`₹${result.totalAmount}`
 



    }
    else{
        alert("something fishy")
    }

  
      
}


    

</script>

<!-- Latest jQuery --> 
<script src="assets/js/jquery-3.7.0.min.js"></script> 
<!-- jquery-ui --> 
<script src="assets/js/jquery-ui.js"></script>
<!-- popper min js -->
<script src="assets/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap --> 
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
<!-- owl-carousel min js  --> 
<script src="assets/owlcarousel/js/owl.carousel.min.js"></script> 
<!-- magnific-popup min js  --> 
<script src="assets/js/magnific-popup.min.js"></script> 
<!-- waypoints min js  --> 
<script src="assets/js/waypoints.min.js"></script> 
<!-- parallax js  --> 
<script src="assets/js/parallax.js"></script> 
<!-- countdown js  --> 
<script src="assets/js/jquery.countdown.min.js"></script> 
<!-- imagesloaded js --> 
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<!-- isotope min js --> 
<script src="assets/js/isotope.min.js"></script>
<!-- jquery.dd.min js -->
<script src="assets/js/jquery.dd.min.js"></script>
<!-- slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- elevatezoom js -->
<script src="assets/js/jquery.elevatezoom.js"></script>
<!-- scripts js --> 
<script src="assets/js/scripts.js"></script>

</body>
</html>