<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Anil z" name="author">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

<!-- SITE TITLE -->
<title>Shopwise</title>
<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
<!-- Animation CSS -->
<link rel="stylesheet" href="assets/css/animate.css">	
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="assets/css/all.min.css">
<link rel="stylesheet" href="assets/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/simple-line-icons.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.default.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/slick-theme.css">
<!-- Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">


<style>
    .product_search_form {
        position: relative;
        margin-bottom: 20px; /* Add margin to create space between results and search bar */
    }

    .results-container {
        position: absolute;
        top: calc(100% + 10px); /* Position results container below search bar */
        left: 0;
        z-index: 1000; /* Ensure results appear above other content */
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visual separation */
        display: none; /* Hide initially */
    }

    .productDiv {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        width: 100%;
        height: 5%;
        text-align: center;
    }

    .productDiv img {
        width: 50px; /* Adjust image width as needed */
        height: auto; /* Maintain aspect ratio */
        margin-right: 10px; /* Add space between image and text */
    }

    .productDiv span {
        font-size: 14px;
        color: #333;
        flex-grow: 1; /* Allow text to expand to fill remaining space */
        text-align: left; /* Align text to the left */
    }
</style>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G6MPNF0KNC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G6MPNF0KNC');
</script>


<!-- Hotjar Tracking Code for bestwebcreator.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2073024,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Start of StatCounter Code -->
<script>
	<!--
	var sc_project=11921154;
	var sc_security="6c07f98b";
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
			//-->
			
document.write("<sc"+"ript src='" +scJsHost +"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code -->


</head>

<body>

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

<!-- Home Popup Section -->

<!-- End Screen Load Popup Section --> 







<!-- START HEADER -->
 
<header class="header_wrap">

  
	<div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                	
                </div>

                <div class="col-md-6">
                    <div class="text-center text-md-end">
                        <ul class="header_list">
                            <% if (userId) { %>
                                <li class="dropdown">
                                    <a href="#" id="userDropdown" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ti-user"></i>
                                        <%= userName %>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                        <li><a class="dropdown-item" href="/myaccount">Profile</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            <% } else { %>
                                <li><a href="/login" class="nav-link"><i class="ti-user"></i><span>Login</span></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                

            </div>
        </div>
    </div>







    <div class="middle-header dark_skin">
    	<div class="container">
        	<div class="nav_block">
                <a class="navbar-brand" href="index.html">
                    <img class="logo_light" src="assets/images/logo_light.png" alt="logo" />
                    <img class="logo_dark" src="assets/images/logo_dark.png" alt="logo" />
                </a>
                <div class="contact_phone order-md-last">
                    <i class="linearicons-phone-wave"></i>
                    <span>+91 799-477-6519</span>
                </div>
                <div class="product_search_form">
                    <form  id="searchForm">
                        <div class="input-group">
                            
                            <input class="form-control" placeholder="Search Product..." id="searchInput"   type="text">
                            <button type="submit" class="search_btn"><i class="linearicons-magnifier"></i></button>
                        </div>
                    </form>
                    <div id="results" class="results-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_header light_skin main_menu_uppercase bg_dark mb-4">
    	<div class="container">
            <div class="row"> 
            	<div class="col-lg-3 col-md-4 col-sm-6 col-3">
                	<div class="categories_wrap">
                        <button type="button" data-bs-toggle="collapse" data-bs-target="#navCatContent" aria-expanded="false" class="categories_btn">
                            <i class="linearicons-menu"></i><span>All Categories </span>
                        </button>
                        <div id="navCatContent" class="nav_cat navbar nav collapse">
                            
                            <% categories.forEach(category => { %>
                                 
                                <li class="dropdown dropdown-mega-menu">
                                    <a class="dropdown-item nav-link dropdown-toggler"  href="/shop-sidebar/<%= category._id %>" > <span> <%= category.categoryName %>  </span></a>
                                    <div class="dropdown-menu">
                                      
                                    </div>
                                </li>
                            <% }) %>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                	<nav class="navbar navbar-expand-lg">
                    	<button class="navbar-toggler side_navbar_toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidetoggle" aria-expanded="false"> 
                            <span class="ion-android-menu"></span>
                        </button> 
                        <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">


                        </div>
                        <ul class="navbar-nav attr-nav align-items-center">
                        	<li><a href="/myaccount" class="nav-link"><i class="linearicons-user"></i></a></li>
                            <li><a href="#" class="nav-link"  onclick="redirectToWishlist()"><i class="linearicons-heart"></i><span class="wishlist_count"> <%= wishlistQty %> </span></a></li>


                            <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-bs-toggle="dropdown"   onclick="redirectToCart()"><i class="linearicons-cart"></i><span class="cart_count"> <%= cartQuantity %> </span></a>




                        </ul>
                        <div class="pr_search_icon">
                        	<a href="javascript:;" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- END HEADER -->










<!-- START SECTION BANNER -->
<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3">
                <div id="carouselExampleControls" class="carousel slide light_arrow" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% banners.forEach((banner, index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %> background_bg" data-img-src="bannerImage/<%= banner.bannerImage %>">
                                <div class="banner_slide_content banner_content_inner">
                                    <div class="col-lg-8 col-10">
                                        <div class="banner_content overflow-hidden">
                                            <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight" data-animation-delay="0.5s"> <%= banner.offerText %> </h5>
                                            <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="1s"><%= banner.bannerName %> </h2>
                                            <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase" href="/shop-sidebar/<%= banner.category %>" data-animation="slideInRight" data-animation-delay="1s">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                    <ol class="carousel-indicators indicators_style1">
                        <% banners.forEach((banner, index) => { %>
                            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
                        <% }) %>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END SECTION BANNER -->

<!-- END MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section small_pb">
	<div class="container">
		<div class="row">
			<div class="col-12">
            	<div class="heading_tab_header">
                    <div class="heading_s2">
                        <h2>Exclusive Products</h2>
                    </div>
                    <div class="tab-style2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tabmenubar" aria-expanded="false"> 
                            <span class="ion-android-menu"></span>
                        </button>
                       
                    </div>
                </div>
            </div>
		</div>



        <div class="row">



        	<div class="col-12">
                <div class="tab_slider">
                	<div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
                        <div class="product_slider carousel_slider owl-carousel owl-theme nav_style1" data-loop="true" data-dots="false" data-nav="true" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                          





   


    <% products.forEach(product => { %>
        <% if (product.productCategory.categoryName === 'phone') { %>
    <div class="item">
        <div class="product">
            <span class="pr_flash bg-success">Sale</span>
            <div class="product_img">
               
                <a href="/productdetail/<%= product._id %>">
                    <img src="/productImage/<%= product.productImage[0] %>" alt="<%= product.productName %>">
                </a>
          

            </div>
            <div class="product_info">
                <h6 class="product_title"><a href="/productdetail/<%= product._id %>" ><%= product.productName %></a></h6>
                <div class="product_price">
                    <span class="price">₹<%= product.productPrice %></span>  
                    <% if (product.offerPrice) { %>
                    <del>₹<%= product.offerPrice %></del>
                    <% } %>
                </div>
                <div class="pr_desc">
                    <p><%= product.productDescription %></p>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% }); %>

   
                                </div> 






                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>





 

<!-- START SECTION BANNER --> 

<div class="section pb_20 small_pt">
	<div class="container">
        
        <div class="row">
                <% bannerses.forEach(banner => { %>
                <div class="col-md-6">
                    <div class="single_banner">
                        <img src="/bannerImage/<%= banner.bannerImage %>" alt="<%= banner.bannerName %>">
                        <div class="single_banner_info">
                            <h5 class="single_bn_title1"><%= banner.bannerName %></h5>
                            <h3 class="single_bn_title"><%= banner.offerText %></h3>
                            <a href="/shoplist/<%= banner.category %>" class="single_bn_link">Shop Now</a>
                        </div>
                    </div>
                </div>
                
                <% }) %>
            </div>


    </div>
</div>
<!-- END SECTION BANNER --> 

<!-- START SECTION SHOP -->

    <div class="section small_pt small_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_tab_header">
                        <div class="heading_s2">
                            <h2>Mens Collection </h2>
                        </div>
                        <div class="deal_timer">
                            <div class="countdown_time countdown_style1" data-time="2024/06/15 13:22:15"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product_slider carousel_slider owl-carousel owl-theme nav_style1" data-loop="true" data-dots="false" data-nav="true" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>

<% products.forEach(products => { %>


    <% if (products.productCategory.categoryName === 'men') { %>
        <div class="item">
            <div class="product" >
                <div class="product_img">
                    <a href="/productdetail/<%= products._id %>">
                        <img src="/productImage/<%= products.productImage[0] %>" alt="<%= products.productName %>">
                    </a>
                    
                </div>
                <div class="product_info">
                    <h6 class="product_title"><a href="/productdetail/<%= products._id %>"> <%= products.productName%></a></h6>
                    <div class="product_price">
                        <span class="price"> ₹<%= products.offerPrice %>    </span>
                        <del> ₹<%= products.productPrice %>  </del>
                        <div class="on_sale">
                            <span> <%= products. percentageDifference %> % Off</span>
                        </div>
                    </div>
                    <div class="rating_wrap">
                        <div class="rating">
                            <div class="product_rate" style="width:80%"></div>
                        </div>
                       
                    </div>
                   
                    <div class="pr_switch_wrap">
                        <div class="product_color_switch">
                            <span class="active" data-color="#87554B"></span>
                            <span data-color="#333333"></span>
                            <span data-color="#DA323F"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
    <% } %>


     
 
<% }) %>
                </div> 
            </div>
		</div>
    </div>
</div>
<!-- END SECTION SHOP -->


<!-- START SECTION SHOP -->


<div class="section small_pt pb_20">
	<div class="container">
    	<div class="row">
			<div class="col-md-12">
            	<div class="heading_tab_header">
                    <div class="heading_s2">
                        <h2>Featured Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product_slider product_list carousel_slider owl-carousel owl-theme nav_style3"
                     data-loop="true" data-dots="false" data-nav="true" data-margin="20" data-autoplay="true"
                     data-responsive='{"0":{"items": "1"}, "767":{"items": "2"}, "991":{"items": "3"}, "1199":{"items": "3"}}'>
        
                    <% featuredItems.forEach(product => { %>
                        <div class="item">
                            <div class="product">
                                <div class="product_img">
                                    <a href="/productdetail/<%= product._id %>">
                                        <img src="/productImage/<%= product.productImage[0] %>" alt="<%= product.productName %>">
                                    </a>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/productdetail/<%= product._id %>"><%= product.productName %></a></h6>
                                    <div class="product_price">
                                        <span class="price">₹<%= product.offerPrice %></span>
                                        <del>₹<%= product.productPrice %></del>
                                        <div class="on_sale">
                                            <span><%= product.percentageDifference %>% Off</span>
                                        </div>
                                    </div>
                                    <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
        
                </div>
            </div>
        </div>
        
<!-- END SECTION SHOP -->



<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<%- include('../layout/footer') %>

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 




<script>

document.getElementById('userDropdown').addEventListener('change', function() {
        var selectedOption = this.value;
        if (selectedOption === 'logout') {
            window.location.href = '/logout'; // Redirect to logout route
        }
    });

   
        function redirectToCart() {
            window.location.href = '/cart'; // Change '/cart' to your actual cart URL
        }

        function redirectToWishlist(){
            window.location.href='/wishlist';
            
        }

        async function addToWishlist(productId, userId) {
    try {
        console.log(productId, userId, "hhhhhhhhhhhhhh");
        const response = await fetch("/wishlist", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ productId, userId })
        });

        const result = await response.json();

        if (result.success) {
            alert(result.message + " added");
        } else if (result.removed) {
            alert(result.message + " removed");
        } else {
            alert(result.message);
        }
    } catch (error) {
        console.error("Error:", error);
        alert("An error occurred. Please try again.");
    }
}





let debounceTimeout;
const debounceDelay = 300; // 300ms delay for debouncing
document.getElementById('searchForm').addEventListener('submit', (e) => {
    e.preventDefault();
    performSearch();
});

document.getElementById('searchInput').addEventListener('input', () => {
    const query = document.getElementById('searchInput').value.trim();
    clearTimeout(debounceTimeout);
    debounceTimeout = setTimeout(() => {
        if (query.length > 0) {
            performSearch(query);
        } else {
            hideResults();
        }
    }, debounceDelay);
});

async function performSearch(query) {
    try {
        const response = await fetch(`/search?query=${encodeURIComponent(query)}`);
        const data = await response.json();
        displayResults(data);
    } catch (error) {
        console.error('Error:', error);
    }
}

function displayResults(data) {
    const resultsDiv = document.getElementById('results');
    resultsDiv.innerHTML = '';
    
    // Display results only if there are products
    if (data.length > 0) {
        resultsDiv.style.display = 'block'; // Show results container
        data.forEach(product => {
            const productDiv = document.createElement('div');
            productDiv.className = 'productDiv';
            productDiv.innerHTML = `
                <a href="/productdetail/${product._id}" style="text-decoration: none; color: inherit;">
                    <img src="/productImage/${product.productImage[0]}" alt="${product.productName}">
                    <span>${product.productName}</span>
                </a>
            `;
            resultsDiv.appendChild(productDiv);
        });
    } else {
        hideResults(); // Hide results container if no products
    }
}

function hideResults() {
    const resultsDiv = document.getElementById('results');
    resultsDiv.style.display = 'none'; // Hide results container
}

  
</script>

<!-- Latest jQuery --> 
<script src="assets/js/jquery-3.7.0.min.js"></script> 
<!-- popper min js -->
<script src="assets/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap --> 
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
<!-- owl-carousel min js  --> 
<script src="assets/owlcarousel/js/owl.carousel.min.js"></script> 
<!-- magnific-popup min js  --> 
<script src="assets/js/magnific-popup.min.js"></script> 
<!-- waypoints min js  --> 
<script src="assets/js/waypoints.min.js"></script> 
<!-- parallax js  --> 
<script src="assets/js/parallax.js"></script> 
<!-- countdown js  --> 
<script src="assets/js/jquery.countdown.min.js"></script> 
<!-- imagesloaded js --> 
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<!-- isotope min js --> 
<script src="assets/js/isotope.min.js"></script>
<!-- jquery.dd.min js -->
<script src="assets/js/jquery.dd.min.js"></script>
<!-- slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- elevatezoom js -->
<script src="assets/js/jquery.elevatezoom.js"></script>
<!-- scripts js --> 
<script src="assets/js/scripts.js"></script>

</body>
</html>