<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Anil z" name="author">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"></script>
<!-- SITE TITLE -->
<title>Shopwise - eCommerce Bootstrap 5 HTML Template</title>
<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
<!-- Animation CSS -->
<link rel="stylesheet" href="/assets/css/animate.css">	
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="/assets/css/all.min.css">
<link rel="stylesheet" href="/assets/css/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/themify-icons.css">
<link rel="stylesheet" href="/assets/css/linearicons.css">
<link rel="stylesheet" href="/assets/css/flaticon.css">
<link rel="stylesheet" href="/assets/css/simple-line-icons.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="/assets/owlcarousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.css">
<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.default.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="/assets/css/magnific-popup.css">
<!-- jquery-ui CSS -->
<link rel="stylesheet" href="/assets/css/jquery-ui.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="/assets/css/slick.css">
<link rel="stylesheet" href="/assets/css/slick-theme.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/responsive.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-9lA87yG5IIXkDxUCBsXsBln2Vy4j+jJEvEZ7tj5a4eGdho0Br0e4/AzJ9nJpbYMWlJQCrOZQdGvCfoJ6ovQhXw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- seet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<!-- Alertify CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Alertify Default Theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

<!-- Alertify JavaScript -->





<!-- Global site tag (gtag.js) - Google Analytics -->
 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G6MPNF0KNC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G6MPNF0KNC');
</script>


<!-- Hotjar Tracking Code for bestwebcreator.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2073024,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Start of StatCounter Code -->
<script>
	<!--
	var sc_project=11921154;
	var sc_security="6c07f98b";
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
			//-->
			
document.write("<sc"+"ript src='" +scJsHost +"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code -->

</head>

<body>

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->



<%- include('../layout/header',) %>











<!-- START MAIN CONTENT -->

<% productDetails.forEach(product => { %>


    
<div class="main_content">

    <!-- START SECTION SHOP -->
    
    
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                  <div class="product-image">
                        <div class="product_img_box">
                            <img id="product_img" src='/productImage/<%= product.productImage [0]%>' data-zoom-image="/productImage/<%= product.productImage [0]%>'" alt="product_img1" />
                            <a href="#" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>
                        <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
                            <div class="item">
                                <a href="#" class="product_gallery_item active" data-image="/productImage/<%= product.productImage [0]%>" data-zoom-image="/productImage/<%= product.productImage [0]%>">
                                    <img src="/productImage/<%= product.productImage [0]%>" alt="product_small_img1" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="product_gallery_item" data-image="/productImage/<%= product.productImage [1]%>" data-zoom-image="/productImage/<%= product.productImage [1]%>">
                                    <img src="/productImage/<%= product.productImage [1]%>" alt="product_small_img2" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="product_gallery_item" data-image="/productImage/<%= product.productImage [2]%>" data-zoom-image="/productImage/<%= product.productImage [2]%>">
                                    <img src="/productImage/<%= product.productImage [2]%>" alt="product_small_img3" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="product_gallery_item" data-image="/productImage/<%= product.productImage [3]%>" data-zoom-image="/productImage/<%= product.productImage [3]%>">
                                    <img src="/productImage/<%= product.productImage [3]%>" alt="product_small_img4" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
    
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
    
    
                        
                        <div class="product_description">
                            <h4 class="product_title"><%= product. productName %></h4>
                            <div class="product_price">
                                <span class="price">₹<%= product. offerPrice %></span>
                                <del>₹<%= product.productPrice %></del>
                                <div class="on_sale">
                                    <span><%=product. percentageDifference  %> % off </span>
                                </div>
                            </div>
                            <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <span class="rating_num">(21)</span>
                                </div>

                                
                            <div class="pr_desc">
                                <p> Gain insights from other customers' experiences by reading their reviews and ratings.</p>
                            </div>

                            <div class="product_sort_info">

                            <% if (product.category==="phone") { %>
                               
                                    <ul>
                                        <li><i class="linearicons-shield-check"></i> 1 Year <%= product.subcategory %> Brand Warranty</li>
                                       
                                    </ul>
                              
                             
                            <% } %>
                            <li><i class="linearicons-sync"></i> 30 Day Return Policy</li>
                            <li><i class="linearicons-bag-dollar"></i> Cash on Delivery available</li>
                        </div>
                          

                          <% if (product.color){ %>
                            <div class="pr_switch_wrap">
                                <span class="switch_lable">Color</span>
                                <div class="product_color_switch">
                                    <span class="active" data-color="#87554B"></span>
                                    <span data-color="#333333"></span>
                                    <span data-color="#DA323F"></span>
                                </div>
                            </div>
                           
                          <% } %>
                           


                            <div class="pr_switch_wrap">
                       <% if (product.productSize) { %>
                       
                                <span class="switch_lable">Size</span>
                                <div class="product_size_switch">
                                    <% product.productSize.forEach((size) => { %>
                                        <span><%= size %></span>
                                        <% }); %>
                                    
                                </div>
                            
                       <% } %>
                       
                    </div>
                        
                            


                        </div>
                        <hr />

                        
                        <div class="cart_extra">
                            <div class="cart-product-quantity">
                                <div class="quantity">
    
    
                                    <input type="button" value="-" class="minus" >
                                    <input type="text"  name="quantity"  value="1" title="Qty" class="qty" size="4" class="qty" readonly >
                                    <input type="button"  value="+" class="plus" >
                                </div>
                            </div>
                                      

                           
                        
                            
                            <div class="cart_btn">
                                <% if (isInCart) { %>
                                    <button class="btn btn-fill-out btn-addtocart" onclick="location.href='/cart'" id="goToCartBtn">Go to Cart</button>
                                <% } else { %>
                                    <button class="btn btn-fill-out btn-addtocart" type="submit" onclick="addToCart('<%= product._id %>', '<%= userId %>')" id="addToCartBtn">
                                        <i class="icon-basket-loaded"></i> Add to cart
                                    </button>
                                    <button class="btn btn-fill-out btn-addtocart" style="display: none;" onclick="location.href='/cart'" id="goToCartBtn">Go to Cart</button>
                                <% } %>
                                
                              

                                <a class="add_wishlist" onclick="addToWishlist('<%= product._id %>', '<%= userId %>')">
                                      <i id="wishlist-icon" class="<%= isInWishlist ? 'fas' : 'far' %> fa-heart" style = " <%= isInWishlist ? 'color: red;' : '' %>"> </i>     
                                </a>
                                
                               
                            </div >

                            
                        </div>
                        <hr />

          


                        <ul class="product-meta">
                           
                            <li>Category: <a href="#"><%= product.category%></a></li>
                         
                        </ul>
                        
                        <div class="product_share">
                            <span>Share:</span>
                            <ul class="social_icons">
                                <li><a href="https://www.facebook.com/rishwan.richu.3/"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://x.com/__Rishwan__"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/rishwank"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCQbWaVM-FU8I_ubHffxLHzg"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="https://www.instagram.com/__rishwan__/"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
    
    
            
            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"> </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Description</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info" role="tab" aria-controls="Additional-info" aria-selected="false">Additional info</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">Reviews (2)</a>
                              </li>
                        </ul>
    
    
    
    
    
    
                        <div class="tab-content shop_info_tab">
                              <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                                <p><%= product.productDescription %></p>
                              </div>
                              <div class="tab-pane fade" id="Additional-info" role="tabpanel" aria-labelledby="Additional-info-tab">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Capacity</td>
                                        <td>5 Kg</td>
                                    </tr>
                                    <tr>
                                        <td>Color</td>
                                        <td>Black, Brown, Red,</td>
                                    </tr>
                                    <tr>
                                        <td>Water Resistant</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Material</td>
                                        <td>Artificial Leather</td>
                                    </tr>
                                </table>

                              </div>
                              <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                                <div class="comments">
                                    <h5 class="product_tab_title"> Review For <span> <%= product.productName %>  </span></h5>
                                    <ul class="list_none comment_list mt-4">
                                        <li>
                                            <div class="comment_img">
                                                <img src="/assets/images/user1.jpg" alt="user1"/>
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width:80%"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta">
                                                    <span class="review_author">Alea Brooks</span>
                                                    <span class="comment-date">March 5, 2018</span>
                                                </p>
                                                <div class="description">
                                                    <p>Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment_img">
                                                <img src="/assets/images/user2.jpg" alt="user2"/>
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width:10%"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta">
                                                    <span class="review_author">Grace Wong</span>
                                                    <span class="comment-date">June 17, 2018</span>
                                                </p>
                                                <div class="description">
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="review_form field_form">
                                    <h5>Add a review</h5>

                                    <form  action="/productreview"  class="row mt-3" method="post" >
                                        <div class="form-group col-12 mb-3">
                                            <div class="star_rating"  >
                            
                                                <span data-value="1"><i class="far fa-star"></i></span>
                                                <span data-value="2"><i class="far fa-star"></i></span> 
                                                <span data-value="3"><i class="far fa-star"></i></span>
                                                <span data-value="4"><i class="far fa-star"></i></span>
                                                <span data-value="5"><i class="far fa-star"></i></span>
                                            </div>
                                            <input type="hidden" name="rating" id="rating">
                                        </div>
                                        <div class="form-group col-12 mb-3">
                                            <textarea required="required" placeholder="Your review *" class="form-control" name="message" rows="4"></textarea>
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <input required="required" placeholder="Enter Name *" class="form-control" name="name" type="text">
                                         </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <input required="required" placeholder="Enter Email *" class="form-control" name="email" type="email">
                                        </div>
                                       
                                        <div class="form-group col-12 mb-3">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Submit Review</button>
                                        </div>
                                    </form>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="heading_s1">
                        <h3>Releted Products</h3>
                    </div>
                    <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>

                      <% relatedItems.forEach(product => { %>
                       
                        <div class="item">
                            <div class="product">
                                <div class="product_img">
                                    <a href="shop-product-detail.html">
                                        <img src="/productImage/<%= product.productImage[0] %>" alt="product_img1">
                                    </a>
                                    
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/productdetail/<%= product._id %>"><%= product.productName %></a></h6>
                                    <div class="product_price">
                                        <span class="price">₹<%= product.offerPrice %></span>
                                        <del>₹<%= product.productPrice %></del>
                                        <div class="on_sale">
                                            <span><%= product.percentageDifference %>% Off</span>
                                        </div>
                                    </div>
                                    <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                        <span class="rating_num">(21)</span>
                                    </div>
                                    
                                    <div class="pr_switch_wrap">
                                        <div class="product_color_switch">
                                            <span class="active" data-color="#87554B"></span>
                                            <span data-color="#333333"></span>
                                            <span data-color="#DA323F"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <% }) %>

                       






                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">	
            <div class="row align-items-center">	
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    
    </div>
    <!-- END MAIN CONTENT -->
 
<% }) %>



<%- include('../layout/footer') %>

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 




<!-- review star posting  -->
<script>
   
    document.addEventListener('DOMContentLoaded',async () => {
        
        
        const stars = document.querySelectorAll('.star_rating span');
        const qty=document.querySelector("name=quantity-input").value
       
       
      

        stars.forEach(star => {
            star.addEventListener('click', () => {
                stars.forEach(s => s.classList.remove('selected'));
                star.classList.add('selected');
                document.getElementById('rating').value = star.getAttribute('data-value');
            });
        });



        
    });

    async function addToCart(productId,userId) {
        const quantity = document.querySelector(".qty").value
        console.log(quantity.value,)

      
    // Retrieve the quantity input field based on the product ID
   


    
    // Prepare the data to be sent to the server
    const data = {
        productId: productId,
        quantity: quantity,
        userId:userId
      
    };

  const response= await fetch("/cart",{method:"POST",headers:{
        'Content-Type': 'application/json'
    },
    body:JSON.stringify(data)

})


const result=await response.json()
if(result.stockLow){
    return  Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: result.message,
  
   });
   }

   if(result.outOfStock){
    return Swal.fire({
  position: "top-end",
  icon: "error",
  title: result.message,
  showConfirmButton: false,
  timer: 1500
});


   }

if(result.success){

    document.getElementById("cart-quantity").textContent=result.totalCartQuantity

    document.getElementById("addToCartBtn").style.display="none"
    document.getElementById("goToCartBtn").style.display="block"


return Swal.fire({
  position: "top-end",
  icon: "success",
  title: result.message,
  showConfirmButton: false,
  timer: 1500
})



}else{
    Swal.fire({
            icon: 'error',
            title: 'You are not logged in',
            text: 'Please log in and try again.',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Log In'
        }).then(()=>{

              window.location.href="/login"
        })
  
}


}









async function addToWishlist(productId,userId){
    const data = {
        productId: productId,
        userId:userId
      
    };

    const response= await fetch("/wishlist",{method:"POST",
    headers:{
        'Content-Type': 'application/json'
    },
    body:JSON.stringify(data)


})
const result=await response.json()



if(result.success){

    document.getElementById("wishlist-icon").classList.remove("far")
    document.getElementById("wishlist-icon").classList.add("fas")
    document.getElementById("wishlist-icon").style.color="red"
    alertify.success(result.message);
 
 
 
}else if(result.removed){
    document.getElementById("wishlist-icon").classList.remove("fas")
    document.getElementById("wishlist-icon").classList.add("far")
    document.getElementById("wishlist-icon").style.color=""
    alertify.warning(result.message);

}

else{
    alertify.error(result.message);
}


}


</script>   
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- Latest jQuery --> 
<script src="/assets/js/jquery-3.7.0.min.js"></script> 
<!-- jquery-ui --> 
<script src="/assets/js/jquery-ui.js"></script>
<!-- popper min js -->
<script src="/assets/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap --> 
<script src="/assets/bootstrap/js/bootstrap.min.js"></script> 
<!-- owl-carousel min js  --> 
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script> 
<!-- magnific-popup min js  --> 
<script src="/assets/js/magnific-popup.min.js"></script> 
<!-- waypoints min js  --> 
<script src="/assets/js/waypoints.min.js"></script> 
<!-- parallax js  --> 
<script src="/assets/js/parallax.js"></script> 
<!-- countdown js  --> 
<script src="/assets/js/jquery.countdown.min.js"></script> 
<!-- imagesloaded js --> 
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- isotope min js --> 
<script src="/assets/js/isotope.min.js"></script>
<!-- jquery.dd.min js -->
<script src="/assets/js/jquery.dd.min.js"></script>
<!-- slick js -->
<script src="/assets/js/slick.min.js"></script>
<!-- elevatezoom js -->
<script src="/assets/js/jquery.elevatezoom.js"></script>
<!-- scripts js --> 
<script src="/assets/js/scripts.js"></script>

</body>
</html>