<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Anil z" name="author">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

<!-- SITE TITLE -->
<title>Shopwise - eCommerce Bootstrap 5 HTML Template</title>
<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
<!-- Animation CSS -->
<link rel="stylesheet" href="assets/css/animate.css">	
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="assets/css/all.min.css">
<link rel="stylesheet" href="assets/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/simple-line-icons.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.default.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<!-- jquery-ui CSS -->
<link rel="stylesheet" href="assets/css/jquery-ui.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/slick-theme.css">
<!-- Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">

<style>
    .remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.remove-btn i {
    color: #000; 
}
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
</script>

<!-- sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G6MPNF0KNC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G6MPNF0KNC');
</script>


<!-- Hotjar Tracking Code for bestwebcreator.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2073024,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Start of StatCounter Code -->
<script>
	<!--
	var sc_project=11921154;
	var sc_security="6c07f98b";
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
			//-->
			
document.write("<sc"+"ript src='" +scJsHost +"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code -->

</head>

<body>

<!-- LOADER -->


<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

<%- include('../layout/header',) %>

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Shopping Cart</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Shopping Cart</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->


<% if (cartDetails.length>=1) { %>

    

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
    
                            <% cartDetails.forEach(item => { %>
                             
    
                            <tbody>
                                <tr>
                                        
    
                                            <td class="product-thumbnail"><a href="#"><img src="/productImage/<%= item. productImage[0] %>" alt="product1"></a></td>
                                            <td class="product-name" data-title="Product"><a href="#">  <%= item.productName %>  </a> <p style="color: red;" class="product-remaining" id="product-remaining-<%= item.productId %>"></p> </td>
                                            <td class="product-price" data-title="Price">₹<%= item.productPrice  %>  </td>
                                            <td class="product-quantity" data-title="Quantity">
    
                                                <div class="quantity">
                                                    <button type="button" class="minus" data-product-id="<%= item.productId %>" onclick="updateQuantity('<%= item.productId %>' , 'decrement',' <%=item.productPrice%>' )"> - </button>
                                                    <input type="text"class="qty" id="quantity-<%= item.productId %>" name="quantity" value="<%= item.quantity %>" title="Qty" size="4"  readonly>
                                                    <button type="button" class="plus" data-product-id="<%= item.productId %>" onclick="updateQuantity('<%= item.productId %>', 'increment',' <%=item.productPrice%>')"> + </button>
                                                </div>
                                                
                                        </td>
                                              <td class="product-subtotal product-subtotal-<%= item.productId %>" data-title="Total" >  ₹<%=  item.subtotal %> </td>
                                            <td class="product-remove" data-title="Remove"  id="removecart-<%= item.productId%>">  <button  class="remove-btn"  onclick="removeCart('<%= item.productId %>')" >  <i class="ti-trash"></i></i> </button>  </td >
    
                                           
    
                                    
                                </tr>
                               
                                
                            </tbody>
    
                            <% }) %>
    
    
    
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
    
    
    
          
                
                <div class="col-12">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>Cart Totals</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Cart Subtotal</td>
                                        <td style="text-align: end;" class="cart_total_amount" id="cart-subtotal">₹ <%= totalAmount %> </td>
                                    </tr>
                                    <tr>
                                      
                                    </tr>  <td class="cart_total_label">Shipping</td>
                                        <td  style="text-align: end;" class="cart_total_amount" id="shipping-charge">   <% if (shippingCharge) { %> ₹<%= shippingCharge %> <% } else { %> Free Shipping <% } %>   </td>
                                    <tr>
                                        <td class="cart_total_label">Total</td>
                                        <td style="text-align: end;"  class="cart_total_amount"><strong class="sub-total"> ₹<%= cartSubtotal %> </strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a  href="/checkout" class="btn btn-fill-out">Proceed To CheckOut</a>
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    
    <% } else { %>
        <div class="cart-no-stock" style="width: fit-content; height: fit-content; display: flex; justify-content: center;">
            <h2>No items in your cart</h2>
        </div>
    <% } %>
    








<!-- START SECTION SUBSCRIBE NEWSLETTER  -->
<div class="section bg_default small_pt small_pb">
	<div class="container">	
    	<div class="row align-items-center">	
            <div class="col-md-6">
                <div class="heading_s1 mb-md-0 heading_light">
                    <h3>Subscribe Our Newsletter</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter_form">
                    <form>
                        <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                        <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<footer class="footer_dark">
	<div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                	<div class="widget">
                        <div class="footer_logo">
                            <a href="#"><img src="assets/images/logo_light.png" alt="logo"/></a>
                        </div>
                        <p>If you are going to use of Lorem Ipsum need to be sure there isn't hidden of text</p>
                    </div>
                    <div class="widget">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
        		</div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                	<div class="widget">
                        <h6 class="widget_title">Useful Links</h6>
                        <ul class="widget_links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                	<div class="widget">
                        <h6 class="widget_title">Category</h6>
                        <ul class="widget_links">
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Woman</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Best Saller</a></li>
                            <li><a href="#">New Arrivals</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                	<div class="widget">
                        <h6 class="widget_title">My Account</h6>
                        <ul class="widget_links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Orders History</a></li>
                            <li><a href="#">Order Tracking</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                	<div class="widget">
                        <h6 class="widget_title">Contact Info</h6>
                        <ul class="contact_info contact_info_light">
                            <li>
                                <i class="ti-location-pin"></i>
                                <p>123 Street, Old Trafford, New South London , UK</p>
                            </li>
                            <li>
                                <i class="ti-email"></i>
                                <a href="mailto:info@sitename.com">info@sitename.com</a>
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                                <p>+ 457 789 789 65</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer border-top-tran">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-md-0 text-center text-md-start">© 2020 All Rights Reserved by Bestwebcreator</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer_payment text-center text-lg-end">
                        <li><a href="#"><img src="assets/images/visa.png" alt="visa"></a></li>
                        <li><a href="#"><img src="assets/images/discover.png" alt="discover"></a></li>
                        <li><a href="#"><img src="assets/images/master_card.png" alt="master_card"></a></li>
                        <li><a href="#"><img src="assets/images/paypal.png" alt="paypal"></a></li>
                        <li><a href="#"><img src="assets/images/amarican_express.png" alt="amarican_express"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 

<script>
    // Function to update the quantity
    function   updateQuantity(elementId, action,offerprice) {
        const quantityInput = document.getElementById(`quantity-${elementId}`);
        if (!quantityInput) {
            console.error(`No quantity input found for element ID: ${elementId}`);
            return;
        }

        let quantity = parseInt(quantityInput.value);
        console.log(quantity,"this is quantity");
       
       

        if (action === 'increment') {
            quantity++;
        }
         else if (action === 'decrement' ) {
            quantity--;
        }


        // Send the updated quantity to the server
        fetch('/update-cart', {
            method: 'POST',
            headers: { 
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productId: elementId,   
                quantity: quantity,
                type:action,
            })
        })
        .then(response => response.json())
       
        .then(data => {

            if(data.cartvalue){
        
                Swal.fire({
                        icon: 'error',
                        text: data.message,
                    });
             }
            console.log(data,"this is data");
            if (data.success) {
                quantityInput.value = quantity; 
                const price = quantity * offerprice;


                   
               
                
                if (data.shippingCharge) {
                    document.getElementById('shipping-charge').textContent = `₹${data.shippingCharge}`;
                } else {
                    document.getElementById('shipping-charge').textContent = 'Free Shipping';
                }

              document.querySelector(`.product-subtotal-${elementId}`).textContent =` ${price}`; 
              document.querySelector('.sub-total').textContent = ` ₹${data.cartSubtotal}`; 
              document.querySelector("#cart-subtotal").textContent=`₹${data.totalAmount}`

             
              
              document.getElementById(`product-remaining-${elementId}`).textContent=""
                if( data.availableStock<=5){
                    document.getElementById(`product-remaining-${elementId}`).textContent =data.message
                 }
                 
                 if (data.outOfStock) {
                     Swal.fire({
                        icon: 'error',
                        text: data.message,
                    });
                }

                   

            } else{
                if (data.outOfStock) {
                     Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message,
                    });
                }

            }

            


        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while updating cart'); // Display error message
        });

    }

     function removeCart(productId){
            
    
           fetch("/delete-cart",{
            method:"DELETE",
            headers: { 
            'Content-Type': 'application/json'
        },
        body:JSON.stringify({productId})
    }).then(response=>response.json()).then(data=>{
        if (data.success) {
            
              
                const itemRow = document.getElementById(`removecart-${productId}`).closest('tr');
                itemRow.parentNode.removeChild(itemRow);

                // Update cart totals and other relevant information
                document.querySelector('.sub-total').textContent = ` ₹${data.cartSubtotal}`; 
                document.querySelector("#cart-subtotal").textContent = `₹${data.totalAmount}`;


                if (data.shippingCharge) {
                    document.getElementById('shipping-charge').textContent = `₹${data.shippingCharge}`;
                } else {
                    document.getElementById('shipping-charge').textContent = 'Free Shipping';
                }
            } else {
                alert('Failed to remove item from cart: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while removing the item from the cart');
        });
    
    
    
  
    
    
            }
</script>


<!-- Latest jQuery --> 
<script src="assets/js/jquery-3.7.0.min.js"></script> 
<!-- jquery-ui --> 
<script src="assets/js/jquery-ui.js"></script>
<!-- popper min js -->
<script src="assets/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap --> 
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
<!-- owl-carousel min js  --> 
<script src="assets/owlcarousel/js/owl.carousel.min.js"></script> 
<!-- magnific-popup min js  --> 
<script src="assets/js/magnific-popup.min.js"></script> 
<!-- waypoints min js  --> 
<script src="assets/js/waypoints.min.js"></script> 
<!-- parallax js  --> 
<script src="assets/js/parallax.js"></script> 
<!-- countdown js  --> 
<script src="assets/js/jquery.countdown.min.js"></script> 
<!-- imagesloaded js --> 
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<!-- isotope min js --> 
<script src="assets/js/isotope.min.js"></script>
<!-- jquery.dd.min js -->
<script src="assets/js/jquery.dd.min.js"></script>
<!-- slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- elevatezoom js -->
<script src="assets/js/jquery.elevatezoom.js"></script>
<!-- scripts js --> 
<script src="assets/js/scripts.js"></script>

</body>
</html>